<h3>Update Profile</h3>

<form action="/admin/profile" method="POST" class="form-profile">
    <!-- Username -->
    <label for="username"><b>User name</b></label>
        <input type="text" name="username" value="<%= username %>" class="error">

    <!-- Email -->
    <label for="email"><b>Email</b></label>
   
        <input type="email" name="email" value="<%= email %>" class="error">
    

    <div class="button-container">
        <input type="submit" value="Update Profile" class="btn">
    </div>
</form>